<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test">
    <classes>
      <class name="remoteTesting.dockerValidation.chromeStandaloneTest_blazedemo"/>
      <class name="remoteTesting.dockerValidation.chromeStandaloneTest"/>
      <class name="remoteTesting.dockerValidation.chromeStandaloneTest_herokuapp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
